/* Header.module.css */
.header {
  width: 100%;
  height: 60px;
  background-color: #18182b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logoutIcon{
  margin-left: 20px;
  /* font-size: 20px; */
  /* color: white; */
}
.logoutIcon:hover{
  color: red;
  cursor : pointer;
}
.left {
  display: flex;
  align-items: center;
}

.menuIcon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.icon {
  /* font-size: 20px; */
  /* color: white; */
  margin-left: 20px;
  cursor: pointer;
}

.icon:hover {
  color: #0091ff; /* Highlight color on hover */
}
.adminProfile{
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.username{
  font-weight: bold;
}
.admin_profile_picture{
  height: 40px;
  width: 40px;
  border: 2px solid #499826;
  padding: 1px;
  object-fit: fill;
  border-radius: 50%;
}

.icons{
  display: flex;
  align-items: center;
}

/* Header.module.css */
.notificationDropdown {
  position: absolute;
  top: 60px; /* Adjust based on header height */
  right: 10px;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  /* z-index: 10; */
}

.notificationDropdown h4 {
  margin: 0 0 10px;
  font-size: 1.1rem;
}

.notificationDropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificationDropdown ul li {
  cursor: pointer;
  padding: 8px 0;
  /* border-bottom: 1px solid #f1f1f1; */
  font-size: 0.9rem;
}

.notificationDropdown ul li:last-child {
  border-bottom: none;
}
.active{
  color: rgb(0, 145, 255);
}